body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}
.legend{
  background-color: white;
  padding: 10px;
  line-height: 18px;
  color: #555;
}
.legend i{
  float: left;
  width: 18px;
  height: 18px;
  margin-right: 10px;
}
